.minting-header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30.9836px;
  color: #dfdfdf;
  margin-bottom: 10px;
}

.minting-div {
  z-index: 2;
  border: 0.2px solid #0029FF;
  background-color: rgba(18, 18, 77, 0.62);;
  backdrop-filter: blur(37px);
  border-radius: 4px;
  backdrop-filter: blur(37px);
  position: absolute;
  margin: 0px auto auto auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  height: fit-content;
  width: 387px;
  padding: 30px 40px 30px 40px;
}

.minting-header {
  display: flex;
  justify-content: space-between;
}

.minting-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.debond-btn {
  width: 100%;
}
.etherIcon{
  background: url('/ETH.png') 0 0 no-repeat;
  width: 30px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
.ether-price span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 146%;
}

.dollar-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #dfdfdf;
  margin-top: auto;
}

.minting-countdown {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 48.8376px;
  line-height: 146%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto auto auto;
  width: fit-content;

  color: #ffffff;
}

.divrelative {
  position: relative;
  z-index: 1;
}

.ant-tabs-nav-list,
.ant-tabs-nav-wrap,
.ant-tabs-tab {
  width: 100%;
}

.ant-tabs-nav-wrap {
  margin-bottom: -16px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px white, inset 0 0 8px white;
  }
  25% {
    box-shadow: 0 0 20px white, inset 0 0 20px white;
  }
  50% {
    box-shadow: 0 0 40px white, inset 0 0 40px white;
  }
  75% {
    box-shadow: 0 0 20px white, inset 0 0 20px white;
  }
  100% {
    box-shadow: 0 0 10px white, inset 0 0 8px white;
  }
}

.inner {
  background-color: transparent;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  box-shadow: 0 0 80px white, inset 0 0 80px white;
  -webkit-animation: pulse 5s linear 3s infinite;
}

.inner p {
  display: block;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 4px white;
}

.nft-foot {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 180px;
}
.nft-foot img {
  margin: auto;
}

.ant-btn[disabled] {
  background-color: grey !important;
}

.ant-input-number-input-wrap input {
  text-align: center;
}

.inner {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  margin: auto;
}


.nft-carousel img {
  height: 100%;
  min-height: 800px;
  width: 100%;
}

.minting-divs {
  z-index: 2;
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto auto auto;
  width: 100%;
}
.nft-label{
  margin: 0 40px 0 40px;
}
.nft-label-title{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px 24px;
}
.nft-label-title:before{
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  left: -24px;
  bottom: 3px;
  background: url("/nft-icon.png") 0 0 no-repeat;

}
.nft-label-description{
  font-size: 12px;
}
.carousel-data-footer{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}
.carousel-data-footer li{
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
}
.carousel-data-footer li+li{
  margin-left: 20px;
}
.dbit_price{
  color: #F8D829;
}
.dbit_supply{
  color: #D128A2;
}
.dbit_mining_cost{
  color: #CC93D3;
}
.dbit_gas_fee{
  color: #8BC80B
}
.dbit_total{
  color: #63D7C5;
}
@media all and (min-width: 768px) {
.inner{
  top:150px;
}
  .minting-divs {
    top: 25vh !important;
  }
}


@media all and (max-width: 500px) {
  .minting-divs {
    top: 12vh !important;
  }

  .minting-div{
    width:55vw;
    padding: 10px;
  }
  .minting-header,.ether-price span{
    font-size:18px;
  }
  .debond-btn{
    width: 70%;
  }
  .minting-countdown{
    font-size: 28px;
    top:20px;
  }
  .inner {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    top:100px;
  }
  .nft-carousel img {
    min-height: 480px!important;
  }
  .nft-label {
    display: none;
  }

}
@media all and (min-width: 500px) and (max-width: 768px) {
  .inner {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    top:100px;
  }
  .minting-divs {
    top: 18vh !important;
  }
  .minting-div {
    width:52vw;
    padding: 15px;
  }
  .nft-carousel img {
    min-height: 580px!important;
  }
}
