@import 'antd/dist/antd.dark.less';

//@primary-color: #403AF4;
@primary-color: #403AF4;
@border-radius-base: 4px;

@component-background: transparent;
@body-background: #000000;
@layout-body-background: transparent;
@layout-header-background: transparent;
@popover-background: transparent;
@border-color-base: transparent;
@border-color-split: transparent;
//@table-header-sort-active-bg: ;
@card-skeleton-bg: transparent;
@skeleton-color: transparent;
@table-header-sort-active-bg: transparent;

@link-hover-color: white;
@link-active-color: white;
@item-hover-bg:white;
@btn-text-hover-bg:white;



.pageLayout{
  @body-background: linear-gradient(180deg, #16153D 0%, #000000 100%);
  @layout-body-background: linear-gradient(180deg, #16153D 0%, #000000 100%);
  background: linear-gradient(180deg, #16153D 0%, #000000 100%);
}
/*.highlight {
  background-color: #3f3f3f;
}*/

