
.contentRowSub {
  /* bond */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 440px;
  height: 56px;

  /* highlight3 */

  background: rgba(43, 0, 98, 0.6);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}