.content{
  /* content */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 8px;
  gap: 8px;

  width: 480px;
  height: 545px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}