.contentTitle{
  /* token balance */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 8px;
  gap: 32px;

  width: 456px;
  height: 55px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.contentTitleSwipe{
  /* token balance */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 8px;
  gap: 32px;

  width: 456px;
  height: 55px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.contentTitleSwipe1{
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;

  width: 388px;
  height: 39px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contentTitleBack{
  width: 15px;
  /*height: 10px;*/
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.contentTitleNext{
  /* Vector 374 */
  width: 15px;
  /*height: 10px;*/

  flex: none;
  order: 2;
}

.contentTitleText{
  /* feed */


  height: 27px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 134.5%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.mydbondlogo{

  width: 39px;
  height: 39px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.contentTitleDiv{
  /* Frame 1664 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 240px;
  height: 39px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.contentTitleSwipe1 a:first-child{
  order:0;
  flex:none;
  flex-grow: 0;
}
