.headTitle {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 395.08px;
  height: 48px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.headTitle1{
  /* wallet name */


  width: 108px;
  height: 30px;

  /* 📱Body text medium • 20pt • Bold */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  /* identical to box height, or 29px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.headTitle2{
  /* wallet name */


  width: 64px;
  height: 18px;

  /* 🖥Caption text•12pt */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.4);


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}