* {
  box-sizing: border-box;
  color: white;
}
.frame{
  position: relative;
  width: 485px;
  height: 698px;

}

.frame{
  /* wallet open */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;

  width: 480px;
  height: 697px;

  background: linear-gradient(269.88deg, rgba(3, 0, 255, 0.096) 7.38%, rgba(20, 3, 163, 0.11175) 38.6%, rgba(42, 6, 45, 0.042) 96.89%), linear-gradient(0deg, rgba(52, 0, 200, 0.15), rgba(52, 0, 200, 0.15)), #0F0A2D;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}